
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contanier {
  
    border: 2px solid red;
    width: 80%;
    height: 100vh;
  
}
.cards1{
    display: flex;
    flex-wrap: wrap;
}

.card1{
   width:400px;
   height: 500px;
   display: inline-block;
   border: 5px solid rgb(197, 21, 33);
   
}

.card1 img{
    width: 250px;
}

.card2{
    margin-top: 90px;
    width: 400px;
    height: 410px;
    border: 5px solid black;
    display: inline-block;

}
.card2 img{
    width: 250px;
}
.card3{
    
    width:400px;
    height: 500px;
    display: inline-block;
    border: 2px solid red;
}
.card3 img{
    width: 250px;
}