*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 2rem;
}
ul{
    background-color: blue;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
    text-align: center;
}
li{

}