@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Vithkuqi:wght@700&family=Noto+Serif+Vithkuqi:wght@700&display=swap');


.apple{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(56,230,210);
}
.bana{
    font-family: 'Roboto', sans-serif;
}
.der{
    font-family: 'Noto Sans Vithkuqi', sans-serif;
}