*{
    margin:0;
    padding:0;
}
body{
    height:300px;
   
}
img{
    height: 70px;
    width: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -32px;
    margin-left: -33px;
}
.contanier{
    background-color: gray;
    border: 2px solid red;
    height:100vh;
   position: relative;
   margin: auto
}
.ma{
    position: relative;
    margin: auto;
}
.yukari{
    background-color: cadetblue;
    border:1px solid black;
    height: 120px;
    width: 120px;
    position: relative;
    margin: auto;
    border-radius: 50%;
    z-index: 1;
    margin-top: 90px;
    
  
     
  
    
}

.alt{
    background-color: rgb(154, 95, 160);
    border:1px solid black;
    height: 400px;
    width: 900px;
    position: relative;
    margin: auto;
    margin-top: -56px;


}
h1{
    padding-top: 55px;
    text-align: center;
}
span{
    color: yellow;
}
p{
    padding-left: 10px;
}
h2{
    padding-top: 20px;
    text-align: center;
}