*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     background-color: rgb(37, 37, 107);
     
    
}
.bg-image{
    background-image: url('../img/img_1_720.png');
    background-size: cover;
    background-position: center;
    width: 80%;
    margin: auto;
    height: 700px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.616);
    position: relative;
    overflow: hidden;
}
.ground{
    background-image: url('../img/img_02_720.png');
    height: 150px;
    width: 1000%;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: left-move 8s linear infinite;
}
.car{
    background-image: url('../img/img_05_360.png');
    width: 150px;
    height: 80px;
    position: absolute;
    bottom: 52px;
    left: 33%;
    animation: hop 8s linear alternate infinite;
}
@keyframes left-move {
     
   
    

    100%{
        transform: translateX(-200px);
    }
    
}
@keyframes hop {
    0%{
transform: translatey(-2px);
    }
    
50%{
 background-image: url('../img/Img_06\ \(1\).png');
    }
    100%{
        transform: translateY(2px);
    }
    
}